<div class="d-none d-md-flex flex-column flex-shrink-0 p-3 bg-dark" style="width: 20vw; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
        <div>
            <h3>João Gabriel</h3>
            <p>Desenvolvedor Java | Angular | .Net framework</p>
        </div>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li>
            <a routerLink="/about" class="nav-link">Sobre mim</a>
        </li>
        <li>
            <a routerLink="/projects" class="nav-link">Projetos</a>
        </li>
        <li>
            <a routerLink="/contact" class="nav-link">Contato</a>
        </li>
    </ul>
</div>

<ul class="d-md-none d-sm-flex nav nav-pills nav-fill bg-dark header-min" style="width: 100vw; z-index: 10000;">
    <li class="nav-item">
        <a routerLink="home" class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a routerLink="/about" class="nav-link" href="#">Sobre mim</a>
    </li>
    <li class="nav-item">
        <a routerLink="/projects" class="nav-link" href="#">Projetos</a>
    </li>
    <li class="nav-item">
        <a routerLink="/contact" class="nav-link">Contato</a>
    </li>
</ul>