<div class="d-none d-md-flex align-items-center justify-content-around my-container">
    <div class="d-none d-md-flex col-md-1">
        <img class="border rounded-5" src="../../assets/images/joao.jpeg" alt="foto de perfil" width="300px">
    </div>
    <div class="p-5 col-md-6 text-light">
        <h1 class="text-center">Olá! Eu sou o</h1>
        <h1 class="text-center mb-3">João Gabriel</h1>
        <p class="text-wrap">Apaixonado por desenvolvimento web desde que conheci, em 2021 eu tomei uma decisão,
            cansado de como estava minha vida resolvi começar estudar programação por conta própia, desde então não
            parei.</p>
        <p class="text-wrap">Comecei algumas linguagens até conhecer Java, até então a linguagem que eu nunca
            imaginaria gostar, foi a que me prendeu. Foi algum tempo estudando, aprendendo Orientação a Objetos,
            estrutura de dados e o Framework Spring Boot, e mesmo com várias dificuldades pela sua complexidade não
            desisti.</p>
        <p class="text-wrap">Senti nescessidade de testar minhas aplicações com um front-end, então comecei a
            estudar Angular, assim conseguia criar as páginas para usar o meu back-end desenvolvido em Java.</p>
        <p class="text-wrap">Na metade de 2023, me surgiu uma oportunidade de um curso, para uma empresa de minha
            cidade, curso que faço atualmemte, Desenvolvimento web com .Net framework, Angular e Sql server. Onde
            Aprendi C# e gostei muito da linguagem por C# e Java serem muito parecidas</p>
    </div>
</div>

<div class="d-md-none d-sm-block align-items-center justify-content-around my-container text-light" style="height: 100vh; padding: 100px 50px;">
        <h1 class="text-center">Olá! eu sou o</h1>
        <h1 class="text-center mb-3">João Gabriel</h1>
        <p class="text-wrap">Apaixonado por desenvolvimento web desde que conheci, em 2021 eu tomei uma decisão,
            cansado de como estava minha vida resolvi começar estudar programação por conta própia, desde então não
            parei.</p>
        <p class="text-wrap">Comecei algumas linguagens até conhecer Java, até então a linguagem que eu nunca
            imaginaria gostar, foi a que me prendeu. Foi algum tempo estudando, aprendendo Orientação a Objetos,
            estrutura de dados e o Framework Spring Boot, e mesmo com várias dificuldades pela sua complexidade não
            desisti.</p>
        <p class="text-wrap">Senti nescessidade de testar minhas aplicações com um front-end, então comecei a
            estudar Angular, assim conseguia criar as páginas para usar o meu back-end desenvolvido em Java.</p>
        <p class="text-wrap">Na metade de 2023, me surgiu uma oportunidade de um curso, para uma empresa de minha
            cidade, curso que faço atualmemte, Desenvolvimento web com .Net framework, Angular e Sql server. Onde
            Aprendi C# e gostei muito da linguagem por C# e Java serem muito parecidas</p>
</div>