<div class="d-none d-md-flex align-items-center justify-content-around my-container text-light">
    <div class="col-6 ms-5">
        <h3>Fique a vontade para entrar em contato</h3>
    </div>
    <ul class="list-group w-25">
        <li class="list-group-item my-3"><a class="nav-link" href="https://github.com/Joaogneves" target="_blank"><i
                    class="fa-brands fa-github"></i> Github</a></li>
        <li class="list-group-item my-3"><a class="nav-link" href="https://www.linkedin.com/in/joaognevess/"
                target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a></li>
        <li class="list-group-item my-3"><a class="nav-link" href="mailto:joaogabriel443@gmail.com" target="_blank"><i
                    class="fa-solid fa-envelope"></i> Email</a></li>
    </ul>
</div>

<div class="d-md-none d-block align-items-center justify-content-around my-container text-light"
    style="height: 100vh; padding: 100px 50px;">
    <div class="my-5">
        <h3>Fique a vontade para entrar em contato</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item my-3"><a class="nav-link" href="https://github.com/Joaogneves" target="_blank"><i
                    class="fa-brands fa-github"></i> Github</a></li>
        <li class="list-group-item my-3"><a class="nav-link" href="https://www.linkedin.com/in/joaognevess/"
                target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a></li>
        <li class="list-group-item my-3"><a class="nav-link" href="mailto:joaogabriel443@gmail.com" target="_blank"><i
                    class="fa-solid fa-envelope"></i> Email</a></li>
    </ul>
</div>