<div class="d-flex flex-column align-items-center justify-content-center my-container">
    <div class="">
        <img src="../../assets/images/Neves Dev.png" alt="" width="250px">
    </div>
    <div class="text-light   ">
        <h3>Java, .Net e Angular</h3>
    </div>
    <div class="text-light mt-5 d-flex">
        <div class="m-4"><a class="display-2 text-light" href="https://www.linkedin.com/in/joaognevess/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></div>
        <div class="m-4"><a class="display-2 text-light" href="https://github.com/Joaogneves" target="_blank"><i class="fa-brands fa-github"></i></a></div>
    </div>
</div>
